/*一些基本設定*/
/*
@import url(http://fonts.googleapis.com/earlyaccess/notosanskannada.css);
*{
    font-size: 10px;
    letter-spacing: 2px;
    font-family: 'Noto Sans Kannada',sans-serif,serif;
}
*/
/*header*/

h1{
    color:coral;
    font-size: 1.8em;
  }

p{
    font-size: 0.9em;
    color: crimson;
}

/*
.header{
    background-color: 
    cornflowerblue;
    font-size: 50px;
}*/
.featured-image{
    width:100%;
    height: 300px;
    background-image: url(../images/sky.jpg);
}
div ul>li {
    list-style-type: none;
    list-style-position: inside;
    display: inline-block;
}
